@font-face{
    font-family : 'offWhite';
    src : url('../POLICES/Nunito-Light.ttf');
}

@font-face {
    font-family: 'titre';
    src: url('../POLICES/Consolas.ttf');
}

@font-face {
    font-family: 'code';
    src: url('../POLICES/JetBrainsMono-Regular.ttf');
}

@font-face {
    font-family: 'walter';
    src: url('../POLICES/Consolas.ttf');
}


body {
    font-family: 'offWhite';
    background-color: rgb(35, 45, 60);
}

header {
    font-family: 'titre';
}

h1 {
    text-align: center;
    color: white;
}

section {
    max-width: 1200px;
    margin: auto;
    border : 1px solid black;
    background-color: rgb(227, 233, 240);
    /*color: red;*/
}


/* Accordion Effect */
.accordion{
    border : none;
    width : 100%;
    text-align : left;
    cursor : pointer;
    font-family : 'walter';
    font-size : 1.2em;
    background-color: rgb(75, 85, 100);
    color: white;
}

.accordion:hover, .active {
     background-color: rgb(155, 175, 200)
}

.symbol{
}

.panel {
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.1s ease-out;
}

/* Panel interior */
dt, .code {
    font-family: 'code';
}

em {
    color: rgb(233, 40, 40);
    font-style: normal;
}
